@font-face {
    font-family: 'Bigmouth';
    src: url('bigmouth.otf');
}
@font-face {
    font-family: 'Mohave';
    src: url('Mohave.otf');
}

#content{
    width:50%;
    margin:0 auto;
}
#cloud{
    position:absolute;
    z-index:-1;
    left:0px;
    top:10px;
}
.night{
    color:#fff;
    background-color:rgba(47,47,62,0.6);
    font-size: 36px;

    /* color is gray just to see the difference between night/day for now*/
    /* also, need to find nice color scheme */
}
.day{
    color:#000;
    background-color:rgba(255,255,255,0.8);
}
.entries{
    width:100%;
    margin:100px 0px;
}
.entries div *{
    display:inline-block;
    padding:10px;
    margin:0px;
    vertical-align:top;
}
.entries *{
    height:100%;
    display:inline-block;
}
.entries .image img{
    width:107px;
    height:140px;
    border-radius:25.5px;
}
.entries .image{
    padding:15px;
    width:35%;
}
.entries .comments{
    width:60%;
}
#cloud{
    position:absolute;
    z-index:-1;
    left:0px;
    top:10px;
}
p{
    font-family:"Mohave";
    font-size:24px;
}
h1{
    color:black;
    font-family:"Bigmouth";
    font-size:40px;
}
.header{
    text-align:center;
    margin:0 auto;
    width:55%;
    vertical-align: top;
}
.dayChange{
    margin:30px 0px;
    text-align:center;
    width:100%;
}
.dayChange p{
    padding:30px 20px;
}
body{
    background-image: url('day-background.png');
    background-repeat: repeat-x;
    background-color:#deffff;
    overflow-x:hidden;
    text-align:center;
}

.nightView{
    color:#fff;
}
.header *{
  top:0px;
  display:inline-block;
}
.header .headerimage {
   /*float:left;
   margin-left:100px;
   position:relative;
   */
   width:30%;
}

.header .title {
  /*float:right;
  margin-right:100px;*/
  float:right;
  margin-top:5%;
  width:65%;

}
